<div class="card border-0 shadow-c p-16 mb-3">
  <div class="row mb-12">
    <div class="col-6">
      <span class="card-title">{{ item.title }}</span>
    </div>
    <div class="col-6 text-end">
      @if (item.status) {
      <img
        src="assets/_Avatar.svg"
        alt="interview ongoing icon"
        height="20px"
        width="20px"
      />
      } @else {
      <span class="bg-light-blue btn-font tag">Upcoming</span>
      }
    </div>
  </div>

  <div class="row mb-12">
    <span class="light-grey">{{ item.typeTitle }}</span>

    <div class="mt-1">
      <!-- <div *ngFor="let type of item.types">
        <span class="bg-light-grey rounded btn-font mr-1 p-4-8">
          @if (type==='AI Interview'){
          <img src="assets/Sparkle.png" alt="sparkle image" />
          } {{ type }}</span
        >
      </div> -->
      <div>
        @for(item of item.types;track $index ){
        <span class="bg-light-grey rounded btn-font me-1 p-4-8">
          @if (item==='AI Interview'){
          <img src="assets/Sparkle.png" alt="sparkle image" />
          } {{ item }}</span
        >
        }
      </div>
      <!-- <div>
        <span class="bg-light-grey rounded btn-font mr-1 p-4-8 me-2"
          ></span
        >
        <span class="bg-light-grey rounded btn-font mr-1 p-4-8">
          <img src="assets/Sparkle.png" alt="sparkle image" /> Ai
          Interview</span
        >
      </div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <span class="light-grey">{{ item.startingName }}</span>
    </div>
    <div class="col-6">
      <span class="light-grey">{{ item.dueName }}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <span class="date-font">{{ item.startingDate }}</span>
    </div>
    <div class="col-6">
      <span class="date-font">{{ item.dueDate }}</span>
    </div>
  </div>

  <div class="row justify-content-end mt-24 btn-font pe-2">
    <button class="button-big purple w-auto">View Details</button>
    <button class="button-big bg-purple ms-2 w-auto">Attempt</button>
  </div>
</div>
